.container {
  background-size: 1600px;
  background-position-x: center;
  background-repeat: no-repeat;
  background-image: url(/assets/images/main_page/bg.png);
}

.topSection {
  height: 538px;
}

.startSection {
  height: 330px;
  margin-bottom: 75px;
  background-color: #fff;
}

.bottomSection {
  height: 450px;
}

.ship {
  position: relative;
  display: inline-flex;
  width: 150px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/assets/images/main_page/circle.png);
}

.shipsContainer {
  display: flex;
  justify-content: space-around;
  margin: auto;
  max-width: 660px;
  height: 170px;
}

.shipImg {
  width: 85px;
  display: block;
  margin: auto;
}

.shipNumber {
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  position: absolute;
  line-height: 2;
  background-color: #39ef99;
  border-radius: 50%;
  font-weight: 600;
}