.container {
  display: flex;
  width: 930px;
  margin: auto;
}

.column {
  float: left;
  padding: 0 24px;
  width: 261px;
  text-align: center;
}

.price {
  margin-bottom: 150px;
}

.shopShipCaption {
  width: 150px;
  color: #fff;
  font-weight: 900;
  font-size: 24px;
  margin: auto;
  text-align: left;
}

.shopShip {
  width: 150px;
  margin: 20px 0 25px 0;
}

.shopButton:hover {
  cursor: pointer;
  background-color: #87d993;
}

.shopButton {
  background-color: #39b54a;
  color: #fff;
  font-size: 22px;
  font-weight: 900;
  height: 50px;
  width: 125px;
  border-radius: 50px;
  margin: auto;
  line-height: 2.3;
}

@media (max-width: 1024px) {
  .container {
    flex-flow: column;
    width: 100%;
  }

  .column {
    margin: 0 auto 50px;
  }

  .yourShip {
    height: 350px;
  }
}
