.container {
  font-family: 'Roboto', sans-serif;
  background-color: #161618;
  background-size: 1658px;
  background-image: url(/assets/images/bg.jpg);
  background-position-x: center;
  overflow: hidden;
}

.main {
  min-height: calc(100vh - 350px);
}