.container {
  color: #fff;
  padding: 10px;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
}

.item {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item > img {
  width: 16px;
  margin-right: 5px;
}

.label {
  color: #05ef95
}
