.container {
  height: 50px;
  color: #fff;
  background-color: #090910;
}

.linksBlock {
  margin: auto;
  width: 300px;
  line-height: 3;
}

.link {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

.link.active,
.link:hover {
  cursor: pointer;
  color: #39ef99;
}

.fbLogin {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0 3px;
  color: #fff;
  border: none;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
}