.caption {
  text-align: center;
  color: #01f9f9;
  font-size: 27px;
  font-weight: 900;
  border-top: solid 1px #01f9f9;
  border-bottom: solid 1px #01f9f9;
  line-height: 2;
  margin-bottom: 34px;
}

.icon {
  height: 27px;
}