.point {
  margin: 0 1px;
  border-radius: 15px;
  display: inline-block;
  width: 6px;
  height: 14px;
}

.level {
  font-size: 19px;
  margin-left: 8px;
  font-weight: 900;
}

.icon { 
  margin-right: 4px;
  height: 14px; 
} 
 
.caption { 
  margin-right: 14px; 
  line-height: 1.1; 
} 
 
.name { 
  margin-top: 2px; 
  float: left; 
  clear: both; 
} 

.value {
  float: right;
  margin-bottom: 10px;
}

input[type=range] {
}
input[type=range]:focus {
}
input[type=range]::-webkit-slider-runnable-track {
}
input[type=range]::-webkit-slider-thumb {
  background: transparent;
}
input[type=range]:focus::-webkit-slider-runnable-track {
}
input[type=range]::-moz-range-track {
}
input[type=range]::-moz-range-thumb {
  background: transparent;
}
input[type=range]::-ms-track {
}
input[type=range]::-ms-fill-lower {
}
input[type=range]::-ms-fill-upper {
}
input[type=range]::-ms-thumb {
  background: transparent;
}
input[type=range]:focus::-ms-fill-lower {
}
input[type=range]:focus::-ms-fill-upper {
}




.BITCOIN {
  /* background-image: url('./assets/btc.png') */
  background-color: red;
}