.point {
  margin: 0 1px;
  border-radius: 15px;
  display: inline-block;
  width: 6px;
  height: 14px;
}

.level {
  display: inline-block;
  min-width: 23px;
  font-size: 19px;
  margin-left: 8px;
  font-weight: 900;
}

.icon { 
  margin-right: 4px;
  height: 14px; 
} 
 
.caption { 
  margin-right: 14px; 
  line-height: 1.1; 
} 
 
.name { 
  margin-top: 2px; 
  float: left; 
  clear: both; 
} 

.value {
  float: right;
  margin-bottom: 10px;
}

input[type=range] {
  -webkit-appearance: none;
  height: 12px;
  border-radius: 12px;
}

input[type=range]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-size: 25px 25px;
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

input[type="range"].btc::-webkit-slider-thumb {
  background-image: url('./assets/btc.png')
}

input[type="range"].bcc::-webkit-slider-thumb {
  background-image: url('./assets/bcc.png')
}

input[type="range"].eth::-webkit-slider-thumb {
  background-image: url('./assets/eth.png')
}

input[type="range"].ltc::-webkit-slider-thumb {
  background-image: url('./assets/ltc.png')
}

input[type="range"].rpl::-webkit-slider-thumb {
  background-image: url('./assets/rpl.png')
}

input[type="range"].rnd::-webkit-slider-thumb {
  background-image: url('./assets/random.png')
}