.container {
  position: relative;
}

.container img {
  position: absolute;
}

.place {
  width: 220px;
  left: 0;
  right: 0;
  margin: auto;
}

.ship {
  width: 150px;
  left: 0;
  right: 0;
  margin: auto;
  top: 23px;
}

.arrowLeft {
  height: 34px;
  left: -23px;
  top: 96px;
}

.arrowRight {
  height: 34px;
  right: -23px;
  top: 96px;
}

.pages {
  position: absolute;
  left: 0;
  right: 0;
  top: 250px;
}

.pageItem {
  display: inline-block;
  border-radius: 5px;
  width: 5px;
  background-color: #01f9f9;
  height: 5px;
  margin: 0 3px;
}

.pageItem.active {
  background-color: #fff;
}