.container {
  position: relative;
}

.item {
  height: 230px;
}

.place {
  width: 220px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.ship {
  display: block;
  margin: auto;
  width: 235px;
}

.arrow {
  position: absolute;
  height: 34px;
  top: 229px;
  cursor: pointer;
  z-index: 1;
}

.arrowLeft {
  left: 0px;
  
}

.arrowRight {
  right: 0px;
}