.container {
  position: relative;
}

.item {
  height: 230px;
}

.place {
  width: 220px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.ship {
  display: block;
  margin: auto;
  width: 100%;
}

.ship0 {
  width: 367px;
  margin-left: -45px;
  margin-top: -81px;
}

.ship1 {
  width: 344px;
  margin-left: -50px;
  margin-top: -61px;
}

.ship2 {
  width: 352px;
  margin-left: -50px;
  margin-top: -81px;
}

.ship3 {
  margin-left: -3px;
  margin-top: -19px;
  width: 276px;
}

.ship4 {
  width: 293px;
  margin-left: -21px;
  margin-top: -40px;
}

.ship5 {
  width: 275px;
  margin-left: -12px;
  margin-top: -24px;
}

.arrow {
  position: absolute;
  height: 34px;
  top: 229px;
  cursor: pointer;
}

.arrowLeft {
  left: -23px;
  
}

.arrowRight {
  right: -23px;
}