.container {
  min-height: 600px;
  padding-top: 12px;
}

.userContainer {
  margin: auto;
  max-width: 435px;
  margin-bottom: 63px;
}

.shipSettingsContainer {
  margin-bottom: 50px;
}

@media (max-width: 475px) {
  .userContainer {
    margin: 0 44px 63px;
  }
}
