.container {
  width: 900px;
  height: 400px;
  margin: auto;
}

.column {
  float: left;
  padding: 0 25px;
  width: 250px;
  text-align: center;
}

.capacity {
  color: #39ef99;
}

.pump {
  color: #35baeb;
}

.price {
  color: #ffc50a;
  margin-bottom: 150px;
}

.indicatorIcon {
  margin-right: 4px;
  height: 14px;
}

.indicatorLevel {
  font-size: 19px;
  margin-left: 8px;
  font-weight: 900;
}

.indicatorCaption {
  margin-right: 14px;
  line-height: 1.1;
}

.name {
  margin-top: 2px;
  float: left;
  clear: both;
}

.value {
  float: right;
  margin-bottom: 10px;
}

.shopShipCaption {
  width: 150px;
  color: #fff;
  font-weight: 900;
  font-size: 24px;
  margin: auto;
  text-align: left;
}

.shopShip {
  width: 150px;
  margin: 20px 0 25px 0;
}

.shopButton:hover {
  cursor: pointer;
  background-color: #87d993;
}

.shopButton {
  background-color: #39b54a;
  color: #fff;
  font-size: 22px;
  font-weight: 900;
  height: 50px;
  width: 125px;
  border-radius: 50px;
  margin: auto;
  line-height: 2.3;
}