.container {
  width: 900px;
  height: 400px;
  margin: auto;
}

.column {
  float: left;
  padding: 0 25px;
  width: 250px;
  text-align: center;
}

.caption {
  color: #01f9f9;
  font-size: 27px;
  font-weight: 900;
  border-top: solid 1px #01f9f9;
  border-bottom: solid 1px #01f9f9;
  line-height: 2;
  margin-bottom: 34px;
}

.capacity {
  color: #39ef99;
}

.pump {
  color: #35baeb;
}

.price {
  color: #ffc50a;
}

.indicatorIcon {
  margin-right: 4px;
  height: 14px;
}

.indicatorLevel {
  font-size: 19px;
  margin-left: 8px;
  font-weight: 900;
}

.indicatorCaption {
  margin-right: 14px;
  line-height: 1.1;
}

.name {
  margin-top: 2px;
  float: left;
  clear: both;
}

.value {
  float: right;
  margin-bottom: 10px;
}