.container {
  width: 900px;
  height: 400px;
  margin: auto;
}

.column {
  float: left;
  padding: 0 25px;
  width: 250px;
  text-align: center;
}

.caption {
  color: #01f9f9;
  font-size: 27px;
  font-weight: 900;
  border-top: solid 1px #01f9f9;
  border-bottom: solid 1px #01f9f9;
  line-height: 2;
}