.container {
  margin: auto;
  margin-top: 20px;
  position: absolute;
  width: 100%;
  color: #fff;
}

.avatar {
  float: left;
  width: 85px;
  margin-right: 14px;
}

.avatarImage {
  width: 100%;
}

.info {
  width: 100%;
  position: absolute;
}

.name {
  margin: 12px 0;
  font-size: 27px;
  font-weight: 900;
}

.balance {
  font-size: 13px;
  border: 1px solid #01f9f9;
  border-radius: 12px;
  line-height: 1.8;
  margin-left: 42px;
}

.indicator {
  display: inline-block;
  margin-left: 7px;
}

.level {
  display: inline-block;
  background-color: #01f9f9;
  border-radius: 30px;
  font-size: 30px;
  padding: 0 25px;
  margin-left: 10px;
  color: #000;
}

.buttons {
  float: right;
    margin-top: 10px;
}

.button {
  color: #fff;
  height: 27px;
  text-align: center;
  border-radius: 20px;
  line-height: 1.7;
  display: inline-block;
  font-weight: 900;
}

.addButton {
  composes: button;
    background-color: #3593eb;
    width: 64px;
    margin-right: 10px;
}

.addButton:hover {
  cursor: pointer;
  background-color: #89bded;
}

.withdrawButton {
  composes: button;
  background-color: #ed1c24;
  width: 125px;
}

.withdrawButton:hover {
  cursor: pointer;
  background-color: #f67b80;
}

.balanceCaption {
  color: #03ebec;
}

.balanceEth {
  color: #39ef99;
}