.container {
  margin: auto;
  margin-top: 20px;
  width: 100%;
  color: #fff;
}

.avatar {
  float: left;
  width: 85px;
  margin-right: 14px;
}

.avatarImage {
  width: 100%;
}

.info {
  width: 100%;
}

.name {
  margin: 12px 0 20px;
  font-size: 27px;
  font-weight: 900;
}

.balance {
  font-size: 13px;
  border: 1px solid #01f9f9;
  border-radius: 12px;
  line-height: 1.8;
  margin-left: 42px;
}

.indicator {
  display: inline-block;
  margin-left: 7px;
}

.level {
  display: inline-block;
  background-color: #01f9f9;
  border-radius: 30px;
  font-size: 30px;
  padding: 0 25px;
  margin-left: 10px;
  color: #000;
}

.buttons {
  float: right;
  margin-top: 10px;
}

.addButton {
  display: inline-block;
    margin-right: 10px;
}

.balanceCaption {
  color: #03ebec;
}

.balanceEth {
  color: #39ef99;
}

@media (max-width: 475px) {
  .avatar {
    float: none;
    margin: auto;
  }

  .level {
    display: block;
    width: 52px;
    text-align: center;
    margin: 5px auto;
  }

  .name {
    text-align: center;
  }

  .balance {
    margin: 0;
    padding: 0 10px;
  }
}